<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <%= locals.error %>
    <form action="/" method="POST">
        <label>Zip Code
            <input type="text" name="zipcode" placeholder="zip code">
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>